$smoky-black: #14110fff;
$jet: #34312dff;
$sunglow: #ffd147ff;
$pistachio: #8acd6dff;
$highlighted-pistachio: #5aa739ff;
$tomato: #fe6448ff;
$highlighted-tomato: #f42601ff;
$button-blue: #4b7ce6ff;
$highlighted-button-blue: #3559a7ff;
$gray-web: #7e7f83ff;
$almond: #d9c5b2ff;
$cultured: #f3f3f4ff;
$task-button: #c4c4c4ff;
$highlighted-task-button: #888890ff;

$header-height: 75px;
$header-buffer: 30px;
$notifier-width: 300px;
$notifier-margin: 25px;