@import "variables";

@function ease($property) {
    $transition: 0.3s ease $property;

    @return $transition;
}

@mixin content-font {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin header-font {
    font-family: roboto-slab, serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    @include header-font();
}

hr {
    margin: 1em 0;
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        90deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    height: 1px;
    opacity: 0.75;
    margin-left: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}
vr {
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        180deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    width: 1px;
    opacity: 0.75;
    margin-top: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}

body {
    background-color: white;
    color: $smoky-black;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/splash.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

    @import 'pages/login';
}


.block {
    display: flex;
    justify-content: space-between;

    background-color: $cultured;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px $gray-web;
    margin-bottom: 35px;
}

.wrap {
    width: 70%;
    @include content-font();
    margin-bottom: 50px;
    max-width: 1020px;
}

#error {
    @extend .block;
    @extend .wrap;
    flex-direction: column;

    .preWrap {
        background: #c4c4c4ff;
        border-radius: 0.5em;
        box-shadow: inset -5px 0 20px -5px #7e7f83ff;
        padding-bottom: 0.6em;

        pre {
            overflow-x: scroll;
            padding: 1em;
            padding-bottom: 0.5em;
            color: $gray-web;

            &::-webkit-scrollbar {
                width: 0.75em;
                height: 0.75em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $highlighted-task-button;
                border-radius: 10em;
                margin: 2em;

                &:hover {
                    background-color: $gray-web;
                }
            }

            &::-webkit-scrollbar-button {
                background: transparent;
                width: 1em;
            }

            span.highlight {
                color: $smoky-black;
            }
        }
    }
}

//COMPONENT INCLUDES

@import 'components/notifier';

@import 'components/tooltip';

@import 'components/buttons';

@import 'components/header';

@import 'components/table';

@import 'components/status';

// PAGE STYLE INCLUDES

@import 'pages/user';

@import 'pages/newAssignment';

@import 'pages/adminContainer';

@import 'pages/viewAssignment';

@import 'pages/submitAssignment';

@import 'pages/viewCourse';

@import 'pages/reports';