$smoky-black: #14110fff;
$jet: #34312dff;
$sunglow: #ffd147ff;
$pistachio: #8acd6dff;
$tomato: #fe6448ff;
$gray-web: #7e7f83ff;
$almond: #d9c5b2ff;
$cultured: #f3f3f4ff;

* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: $cultured;

    h1 {
        background-color: white;
    }
}