$smoky-black: #14110fff;
$jet: #34312dff;
$sunglow: #ffd147ff;
$pistachio: #8acd6dff;
$highlighted-pistachio: #5aa739ff;
$tomato: #fe6448ff;
$highlighted-tomato: #f42601ff;
$button-blue: #4b7ce6ff;
$highlighted-button-blue: #3559a7ff;
$gray-web: #7e7f83ff;
$almond: #d9c5b2ff;
$cultured: #f3f3f4ff;
$task-button: #c4c4c4ff;
$highlighted-task-button: #888890ff;

$header-height: 75px;
$header-buffer: 30px;
$notifier-width: 300px;
$notifier-margin: 25px;

@function ease($property) {
    $transition: 0.3s ease $property;

    @return $transition;
}

@mixin content-font {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin header-font {
    font-family: roboto-slab, serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    @include header-font();
}

hr {
    margin: 1em 0;
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        90deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    height: 1px;
    opacity: 0.75;
    margin-left: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}
vr {
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        180deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    width: 1px;
    opacity: 0.75;
    margin-top: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}

body {
    background-color: white;
    color: $smoky-black;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/splash.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

    #login_container {
        margin-top: calc(50vh - 159px);
        background-color: $cultured;
        @include content-font();
        letter-spacing: 1px;
        font-size: 20px;
        border: 1px solid $gray-web;
        box-shadow: 0 5px 10px $gray-web;
        border-radius: 5px;

        h1 {
            text-align: center;
            font-size: 25px;
            margin-top: 20px;
            color: $jet;
        }

        form {
            padding: 20px 30px;
            display: flex;
            flex-direction: column;

            input[type="text"],
            input[type="password"] {
                width: 225px;
                font-size: 18px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $gray-web;
                margin: 5px 0;
                border-color: #8f8f8f;
                @include content-font();
                letter-spacing: 2px;
                font-style: normal;
            }

            input[type="submit"]:hover:not(:disabled) {
                background-color: $highlighted-pistachio;
                color: white;
                cursor: pointer;
            }

            .error {
                font-size: 13px;
                margin: 0 6px;
                color: red;
                height: 15px;
            }

            label {
                padding: 10px 0;
            }
        }
    }
}

#notifier-tray {
    overflow: visible;
    right: $notifier-margin;
    top: $header-height + $notifier-margin;
    position: fixed;
    width: $notifier-width;
    height: fit-content;

    .notification {
        @include content-font();
        border-radius: 0.3em;
        display: block;
        height: fit-content;
        background: $button-blue;
        z-index: 20;
        left: calc(100% + #{$notifier-margin});
        transition: left 0.25s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        padding: 0.4em 0em;
        position: relative;
        margin-bottom: 1em;

        &.info {
            background: $button-blue;
        }
        &.success {
            background: $pistachio;
        }
        &.warning {
            background: $sunglow;
        }
        &.error {
            background: $tomato;
        }

        &.show {
            left: 0;
            transition-timing-function: cubic-bezier(0.75, 1.48, 0.68, 0.96);

            .timer {
                animation: timer 5s linear;

                @keyframes timer {
                    from {
                        width: 0%;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            padding: 0.4em;

            p {
                padding-left: 0.2em;
            }
            .del {
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                background: transparent;
                cursor: pointer;
                box-shadow: none;

                &:hover img {
                    filter: brightness(0.65);
                }
            }
        }

        .timer {
            bottom: 0%;
            height: 7px;
            position: absolute;
            width: 0%;
            background: #ffffff80;
        }
    }
}

#tooltip {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px $gray-web;
    display: none;
    pointer-events: none;
    transform: translate(-50%, calc(-100% - 10px));
    background: $cultured;
    border: 2px solid $task-button;
    padding: 0.5em;
    @include content-font();

    &.show {
        display: block;
    }
    .arrow {
        position: absolute;
        top: calc(100% + 1px);
        left: 50%;
        width: 0;
        height: 0;
        border-top: 10px solid $task-button;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transform: translateX(-50%);
    }
}

button,
input[type="button"],
input[type="submit"] {
    margin: 20px 0 10px 0;
    padding: 15px 20px;
    width: 250px;
    background-color: $pistachio;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    @include content-font();
    transition: 0.5s ease background-color, 0.2s ease color, 0.5s ease letter-spacing, 0.3s ease box-shadow;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 5px 10px $gray-web;

    &.blue {
        background-color: $button-blue;

        &:hover {
            background-color: $highlighted-button-blue !important;
        }
    }

    &.strong {
        @include header-font();
    }

    &:hover:not(:disabled) {
        background-color: $highlighted-pistachio;
        color: white;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
        box-shadow: 0 5px 5px $gray-web;
    }

    &:active {
        box-shadow: 0 0px 5px $gray-web;
    }
    &.del {
        height: 30px;
        width: 30px;
        margin: 15px;
        background-color: $tomato;
        padding: revert;
        box-shadow: 0 2px 5px $jet;

        img {
            width: 100%;
            height: 100%;
            transition: ease(filter);
        }

        &:hover {
            background-color: $highlighted-tomato;

            img {
                filter: brightness(2);
            }
        }

        &:active {
            box-shadow: 0 0 5px $jet;
        }
    }
    &:disabled {
        background-color: $gray-web !important;
        cursor: unset !important;
    }
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $cultured;
    box-shadow: 0 0 10px black;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    a.home {
        background-image: url("/assets/img/jam_jar_coloured.png");
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 250px 90px;
        width: 80px;
        height: 100px;
        margin-left: 50px;
        transition: 0.5s ease width;
    }

    a.home:hover {
        width: 220px;
    }

    #menu {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;

        li {
            float: left;
            text-transform: uppercase;
            margin: 0 10px;
            padding: 10px;
            @include content-font();
            transition: 0.5s ease background-color;
        }

        li:hover {
            background-color: rgba(255, 209, 71, 0.8);
        }

        a {
            text-decoration: none;
            color: inherit;
            border-right: 1px solid $smoky-black;
            display: inline-block;
        }
    }

    + * {
        margin-top: $header-height + $header-buffer;
    }
}

#createUser,
#viewUser {
    width: 400px;
    background-color: $cultured;
    display: flex;
    @include content-font();
    color: $gray-web;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;

    > * {
        flex-grow: 1;
    }

    #groupNames {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .name {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    input[type="text"],
    input[type="password"] {
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gray-web;
        margin-top: 20px;
        border-color: #8f8f8f;
        color: $jet;
        @include content-font();
        letter-spacing: 1px;
        font-style: normal;
    }

    input[type="submit"] {
        align-self: center;
    }

    label[for="pass"] {
        color: $gray-web;
        margin-left: 10px;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    h3 {
        font-weight: 400;
        margin-left: 10px;
    }
}

#viewUser {
    h2 {
        text-align: center;
        margin: 10px 0;
        color: $jet;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: 1px;
        margin-bottom: 0.7em;

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            font-weight: 600;
            margin: 0;

            &.detail {
                font-weight: normal;
            }
        }
    }

    form {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;

        > * {
            padding: 10px;
            box-sizing: content-box;
            flex: 1 1 0%;
            height: 1.3em;
            margin: 0 !important;
        }
    }
}

.block {
    display: flex;
    justify-content: space-between;

    background-color: $cultured;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px $gray-web;
    margin-bottom: 35px;
}

.wrap {
    width: 70%;
    @include content-font();
    margin-bottom: 50px;
    max-width: 1020px;
}

#error {
    @extend .block;
    @extend .wrap;
    flex-direction: column;

    .preWrap {
        background: #c4c4c4ff;
        border-radius: 0.5em;
        box-shadow: inset -5px 0 20px -5px #7e7f83ff;
        padding-bottom: 0.6em;

        pre {
            overflow-x: scroll;
            padding: 1em;
            padding-bottom: 0.5em;
            color: $gray-web;

            &::-webkit-scrollbar {
                width: 0.75em;
                height: 0.75em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $highlighted-task-button;
                border-radius: 10em;
                margin: 2em;

                &:hover {
                    background-color: $gray-web;
                }
            }

            &::-webkit-scrollbar-button {
                background: transparent;
                width: 1em;
            }

            span.highlight {
                color: $smoky-black;
            }
        }
    }
}

#newassignment {
    @extend .wrap;

    div#details {
        @extend .block;
        gap: 2em;

        > span {
            flex: 1 1 0px;
        }

        label {
            @include content-font();
            display: block;
        }

        input[type="text"],
        select {
            font-size: 1.2em;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $gray-web;
            margin: 5px 0;
            border-color: #8f8f8f;
            @include content-font();
            font-weight: 200;
            letter-spacing: 2px;
            font-style: normal;
            box-sizing: border-box;
            width: 100%;
        }
    }

    div.task {
        background-color: $cultured;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px $gray-web;
        margin-bottom: 50px;

        display: flex;
        flex-direction: column;

        .taskHead {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .test,
        .instr {
            display: flex;
            order: attr(data-order);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $almond;
            border-radius: 10px;
            margin-bottom: 15px;

            .editor {
                white-space: pre;
                flex-grow: 1;
                align-self: stretch;
                margin: 10px 0;
                min-height: 50px;
            }

            ul {
                align-self: stretch;
                list-style: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 0;
                width: 50px;
                background-color: $button-blue;
                color: white;
                text-align: center;
                margin-right: 10px;
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #efefef;
                    border-top: 1px solid #efefef;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s ease background-color;

                    &:first-of-type {
                        border-top: 0px;
                    }

                    &:last-of-type {
                        border-bottom: 0px;
                    }
                }

                .testID {
                    flex-grow: 0;
                    padding: 10px 0;
                }

                .moveUp {
                    // align-items: flex-start;
                    padding-top: 10px;
                    border-top-left-radius: 10px;
                    padding: 5px 0;
                }

                .moveDown {
                    border-bottom-left-radius: 10px;
                    // align-items: flex-end;
                    padding-bottom: 10px;
                    padding: 5px 0;
                }

                .moveButton {
                    cursor: pointer;
                    transition: ease(background-color);

                    img {
                        width: 20px;
                        transition: ease(filter);
                    }
                }

                .moveButton:hover {
                    img {
                        filter: brightness(2);
                    }

                    background-color: $highlighted-button-blue;
                }
            }

            .testCenter {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-grow: 2;
                margin-bottom: 15px;

                .case {
                    flex-grow: 2;
                }

                .editor {
                    height: 60px;
                }

                .testDeets {
                    display: flex;

                    .small {
                        margin-right: 15px;
                    }

                    .num {
                        max-width: 60px;
                    }

                    .out {
                        max-width: 120px;
                    }

                    .desc {
                        flex-grow: 1;
                    }
                }
            }

            input[type="text"],
            input[type="number"] {
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $gray-web;
                border-color: #8f8f8f;
                @include content-font();
                font-weight: 200;
                letter-spacing: 1px;
                font-style: normal;
                width: auto;
            }
        }

        #taskFoot {
            order: 9999999999;
            display: flex;
            justify-content: center;
            gap: 50px;

            input[type="button"] {
                padding: 10px 20px;
                width: 180px;
                background-color: $task-button;
                text-transform: initial;

                &:hover:not(:disabled) {
                    background-color: $highlighted-task-button;
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }

    #assignmentFooter {
        display: flex;
        justify-content: space-around;
    }
}

#adminContainer {
    display: flex;

    .column {
        .tile {
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            background-color: $cultured;
            box-shadow: 5px 5px 10px $gray-web;
            border-radius: 10px;
            margin: 50px;
            flex-flow: column;
            transform: scale(1);
            transition: ease(transform);

            h1 {
                padding-top: 0.5em;
            }

            &:hover:not(:disabled) {
                color: initial;
                transform: scale(1.1);
            }
        }
    }

    .separator {
        width: 1px;
        background-color: $gray-web;
        margin: 25px 0;
    }
}

#viewAss {
    @extend .wrap;

    div#head {
        @extend .block;
        gap: 2em;

        > span {
            flex: 1 1 0px;
        }

        label {
            @include content-font();
            display: block;
        }

        select {
            font-size: 1.2em;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $gray-web;
            margin: 5px 0;
            border-color: #8f8f8f;
            @include content-font();
            font-weight: 200;
            letter-spacing: 2px;
            font-style: normal;
            box-sizing: border-box;
            width: 250px;
        }

        h1 {
            font-weight: normal;
            letter-spacing: 1px;
            display: inline-block;
        }
    }

    div#table {
        padding: 0;
        border-radius: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: $cultured;
        box-shadow: 0 5px 10px $gray-web;
        margin-bottom: 35px;

        display: flex;
        flex-direction: column;

        position: relative;

        span {
            display: flex;
            justify-content: space-between;
        }

        .tHead {
            position: sticky;
            top: calc(#{$header-height} - 8px);
            width: 100%;
        }

        .tHead h3 {
            text-align: center;
            background-color: $button-blue;
            padding: 20px;
            color: white;
            @include content-font();
            text-transform: uppercase;
            position: sticky;
        }

        .bCell {
            text-align: center;
            display: block;
            padding: 20px;
        }

        .tCell p {
            padding: 20px;
        }

        .tCell p:not(:first-child) {
            border-left: 1px solid $gray-web;
            text-align: center;
        }

        .tCell:nth-child(odd) {
            background-color: $task-button;
        }

        h3:first-child {
            border-top-left-radius: 10px;
        }

        h3:last-child {
            border-top-right-radius: 10px;
        }

        h3:not(:first-child) {
            border-left: 1px solid $cultured;
        }

        .name {
            width: 40%;
        }

        .course {
            width: 20%;
        }

        .year {
            width: 10%;
        }

        .marked {
            width: 30%;
        }
    }
}

#submitAss {
    @extend .wrap;

    .details {
        .class {
            font-weight: normal;
        }
    }

    .metaAss {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .content {
            flex-grow: 1;
            margin: 0;
            margin-right: 35px;
        }

        input[type="button"] {
            padding: 10px 20px;
            width: 150px;
            background-color: $button-blue;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 15px;
            @include content-font();
            text-transform: uppercase;
            transition: 0.5s ease background-color, 0.2s ease color, 0.2s ease letter-spacing;
            box-shadow: 0 5px 10px $gray-web;
            cursor: pointer;
        }

        input[type="button"]:hover:not(:disabled) {
            background-color: $highlighted-button-blue;
            color: white;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }

    .inputBox {
        display: block;
        padding: 100px 0;
        text-align: center;
        width: 100%;
        margin: 0;

        @extend .block;
        outline: dashed 2px $gray-web;
        outline-offset: -10px;
        transition: ease(outline-offset), ease(background-color);

        .inputFile {
            display: none;
        }

        label[for="file"] {
            margin-top: 35px;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            color: $highlighted-task-button;
        }

        label[for="file"]:hover strong {
            color: $button-blue;
        }

        .upload-icon {
            color: $gray-web;
            opacity: 0.3;
            width: 100%;
        }
    
        .uploading,
        .success,
        .error,
        .dropText {
            display: none;
            margin-top: 35px;
            cursor: pointer;
            font-size: 20px;
            color: $highlighted-task-button;
        }
    }

    .enabled .dropText {
        display: inline !important;
    }

    .isUpload {
        label[for="file"] {
            display: none;
        }

        .uploading {
            display: block !important;
        }
    }
    
    .isSuccess {
        label[for="file"] {
            display: none;
        }
        
        .success {
            display: block !important;
        }
    }

    .isError .error {
        display: block !important;
    }

    .file-over {
        outline-offset: -20px;
        background-color: $task-button;
    }
}
