$smoky-black: #14110fff;
$jet: #34312dff;
$sunglow: #ffd147ff;
$pistachio: #8acd6dff;
$highlighted-pistachio: #5aa739ff;
$tomato: #fe6448ff;
$highlighted-tomato: #f42601ff;
$gray-web: #7e7f83ff;
$almond: #d9c5b2ff;
$cultured: #f3f3f4ff;

@mixin content-font {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin header-font {
    font-family: roboto-slab, serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    color: $smoky-black;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/splash.svg');
    background-position: center;
    background-repeat: no-repeat;

    #login_container {
        background-color: $cultured;
        @include content-font();
        letter-spacing: 1px;
        font-size: 20px;
        border: 1px solid $gray-web;
        box-shadow: 0 5px 10px $gray-web;
        border-radius: 5px;

        h1 {
            @include header-font();
            text-align: center;
            font-size: 25px;
            margin-top: 20px;
            color: $jet;
        }

        form {
            padding: 20px 50px;
            display: flex;
            flex-direction: column;

            input[type="text"], input[type="password"] {
                width: 200px;
                font-size: 20px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $gray-web;
                margin: 5px 0;
                border-color: #8f8f8f;
                @include content-font();
                letter-spacing: 2px;
                font-style: normal;
                
            }

            input[type="submit"] {
                margin: 50px 0 20px 0;
                padding: 10px 0;
                background-color: $pistachio;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 15px;
                @include header-font();
                transition: .5s ease background-color, 0.2s ease color;
            }

            input[type="submit"]:hover {
                background-color: $highlighted-pistachio;
                color: white;
                cursor: pointer;
            }

            #forgotPass {
                font-size: 13px;
                margin: 3px;
            }

            label {
                padding: 10px 0;
            }
        }
    }
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $cultured;
    box-shadow: 0 0 10px black;
    height:75px;
    display: flex;
    justify-content: space-between;

    a.home {
        background-image: url("/assets/img/jam_jar_coloured.svg");
        background-repeat: no-repeat;
        background-position-x: -70px;
        display: inline-block;
        background-size: 400px 90px;
        width: 80px;
        height: 100px;
        margin-left: 50px;
        transition: 0.5s ease width;
    }

    a.home:hover {
        width: 200px;
    }

    #menu {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;

        li {
            float: left;
            text-transform: uppercase;
            margin: 0 10px;
            padding: 10px;
            @include content-font();
            transition: 0.5s ease background-color;
        }

        li:hover {
            background-color: rgba(255, 209, 71, 0.8);
        }

        span {
            height: 30px;
            width: 1px;
            background-color: $smoky-black;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

#createUser {
    background-color: $cultured;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;

    #groupNames {
        
        display: flex;
        flex-direction: row;
        
        .name {
            display: flex;
            flex-direction: column;
        }

        .first {
            margin-right: 10px;
        }

        input {
            width: 150px;
        }
    }

    input[type="text"], input[type="password"] {
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gray-web;
        margin-top: 20px;
        border-color: #8f8f8f;
        color: $jet;
        @include content-font();
        letter-spacing: 1px;
        font-style: normal;
        
    }
    
    input[type="submit"] {
        margin: 20px 0 10px 0;
        padding: 10px 0;
        background-color: $pistachio;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 15px;
        @include header-font();
        transition: .5s ease background-color, 0.2s ease color;
    }

    label[for="pass"] {
        color: $gray-web;
        margin-left: 10px;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    h3 {
        font-weight: 400;
        margin-left: 10px;
    }

    input[type="submit"]:hover {
        background-color: $highlighted-pistachio;
        color: white;
        cursor: pointer;
    }
}

#viewUser {
    background-color: $cultured;
    display: flex;
    width: 500px;
    flex-direction: column;
    color: $gray-web;
    @include content-font();
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    padding: 20px;

    h2 {
        text-align: center;
        margin: 10px 0;
        color: $jet;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: 1px;
        margin: 10px 20px;

        .detail {
            font-weight: normal;
        }

        h3 {
            font-weight: 600;
        }
    }
}

#newassignment {
    width: 700px;
    background-color: aqua;

    div#details {
        display: flex;
        justify-content: space-between;

        background-color: $cultured;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px $gray-web;
        margin-bottom: 50px;

        label {
            @include content-font();
        }

        input[type="text"], select{
            width: 200px;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $gray-web;
            margin: 5px 0;
            border-color: #8f8f8f;
            @include content-font();
            font-weight: 200;
            letter-spacing: 2px;
            font-style: normal;
        }
           
    }

    div.task {
        background-color: $cultured;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px $gray-web;
        margin-bottom: 50px;

        display: flex;
        flex-direction: column;

        .taskHead {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .instr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $almond;
            border-radius: 10px;
            margin-bottom: 15px;

            ul {
                list-style: none;
                //margin-left: 5px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 0;
                width: 50px;
                background-color: #4b7ce6;
                color: white;
                text-align: center;
                margin-right: 10px;
                height: 60px;
                
                li {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #efefef;
                    border-top: 1px solid #efefef;
                }
            }

            a {
                height: 35px;
                width: 35px;
                background-color: $tomato;
                border-radius: 5px;
                margin: 5px 15px;
                transition: 1s ease background-color;
            }

            a:hover {
                background-color: $highlighted-tomato;
            }

            input[type="text"] {
                flex-grow: 4;
                font-size: 20px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $gray-web;
                border-color: #8f8f8f;
                @include content-font();
                font-weight: 200;
                letter-spacing: 2px;
                font-style: normal;
            }
        }

        .test {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $almond;
            border-radius: 10px;
            margin-bottom: 15px;
            height: 100px;

            ul {
                list-style: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 0;
                width: 50px;
                background-color: #4b7ce6;
                color: white;
                text-align: center;
                margin-right: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;
                
                li {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #efefef;
                    border-top: 1px solid #efefef;
                    flex-grow: 1;
                }
            }

            a {
                height: 35px;
                width: 35px;
                background-color: $tomato;
                border-radius: 5px;
                margin: 5px 15px;
                transition: 1s ease background-color;
            }

            a:hover {
                background-color: $highlighted-tomato;
            }

            .testCenter {
                display: flex;
                flex-direction: column;
                width: 535px;
                
                .testRemarks {
                    display: inline-flex;
                    flex-direction: row; 
                    justify-content: space-between;
                    margin-top: 10px;

                    input {
                        display: inline;
                        width: 240px;
                    }               
                }
            }

            input[type="text"] {
                font-size: 20px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $gray-web;
                border-color: #8f8f8f;
                @include content-font();
                font-weight: 200;
                letter-spacing: 2px;
                font-style: normal;
            }
        }
    }
}