div.table {
    padding: 0;
    border-radius: 10px 10px 5px 5px;
    background-color: $cultured;
    box-shadow: 0 5px 10px $gray-web;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    overflow: overlay;
    max-height: 80vh;
    margin-bottom: 0;

    &::-webkit-scrollbar {
        width: 1em;
        height: 1em;
        z-index: 60;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $highlighted-task-button;
        border-radius: 10em;
        width: 4px;
        height: 4px;
        background-clip: padding-box;
        border: 4px solid rgba(0, 0, 0, 0);

        &:hover {
            background-color: $gray-web;
        }
    }

    &::-webkit-scrollbar-corner {
        opacity: 0;
    }

    span {
        display: flex;
        justify-content: flex-start;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @include content-font();
    }

    .tHead {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 50;
        box-shadow: 0 0 10px $gray-web;

        p {
            background-color: $button-blue;
            color: white;
            @include header-font();
            text-transform: uppercase;

            &:not(:last-child) {
                border-right: 1px solid $cultured;
            }
        }
    }

    .bRow {
        text-align: center;
        display: block;
        padding: 20px;
        width: 100%;
    }

    .tRow {
        z-index: 40;
        position: relative;
        width: 100%;

        &:nth-child(even) {
            background-color: $cultured;
        }
        &:nth-child(odd) {
            background-color: $task-button;
        }

        &.hidden {
            display: none !important;
        }
        &:not(.hidden) ~ .bRow {
            display: none !important;
        }

        p {
            text-align: center;

            &:not(:last-child) {
                border-right: 1px solid $gray-web;
            }
        }
    }
}
