#submitAss {
    @extend .wrap;

    .details {
        .course {
            font-weight: normal;
        }
    }

    .metaAss {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .content {
            flex-grow: 1;
            margin: 0;
            margin-right: 35px;
        }

        input[type="button"] {
            padding: 10px 20px;
            width: 150px;
            background-color: $button-blue;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 15px;
            @include content-font();
            text-transform: uppercase;
            transition: 0.5s ease background-color, 0.2s ease color, 0.2s ease letter-spacing;
            box-shadow: 0 5px 10px $gray-web;
            cursor: pointer;
        }

        input[type="button"]:hover:not(:disabled) {
            background-color: $highlighted-button-blue;
            color: white;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }

    .markedInput {
        height: 100px;
        padding: 0 !important;
        i {
            display: none;
        }
    }

    .inputBox {
        display: block;
        padding: 100px 0;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;

        @extend .block;
        outline: dashed 2px $gray-web;
        outline-offset: -10px;
        transition: ease(outline-offset), ease(background-color);

        .inputFile {
            display: none;
        }

        label[for="file"] {
            margin-top: 35px;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            color: $highlighted-task-button;
        }

        label[for="file"]:hover strong {
            color: $button-blue;
        }

        .upload-icon {
            color: $gray-web;
            opacity: 0.3;
            width: 100%;
        }

        .uploading,
        .success,
        .error,
        .dropText {
            display: none;
            margin-top: 35px;
            cursor: pointer;
            font-size: 20px;
            color: $highlighted-task-button;
        }
    }

    .enabled .dropText {
        display: inline !important;
    }

    .isUpload {
        label[for="file"] {
            display: none;
        }

        .uploading {
            display: block !important;
        }
    }

    .isSuccess {
        label[for="file"] {
            display: none;
        }

        .success {
            display: inline-block !important;
        }
    }

    .isError .error {
        display: block !important;
    }

    .file-over {
        outline-offset: -20px;
        background-color: $task-button;
    }

    div.table p {
        min-width: 15px;
        width: 15px;
        max-width: 15px;

        &.frontCell {
            min-width: 65px;
            width: 65px;
            max-width: 65px;
            position: sticky;
            left: 0;
            box-shadow: 0 0 10px $gray-web;
            clip-path: inset(0px -10px 0px 0px);
            z-index: 40;
        }
    }

    // THIS IS HOW WE SHOW THE TABLE WHEN THERE'S MARKED INPUT
    .markedInput + .table {
        display: flex !important;
    }
}
