@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  color: #14110fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/splash.svg");
  background-position: center;
  background-repeat: no-repeat;
}
body #login_container {
  margin-top: calc(50vh - 159px);
  background-color: #f3f3f4ff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 20px;
  border: 1px solid #7e7f83ff;
  box-shadow: 0 5px 10px #7e7f83ff;
  border-radius: 5px;
}
body #login_container h1 {
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  color: #34312dff;
}
body #login_container form {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
body #login_container form input[type=text],
body #login_container form input[type=password] {
  width: 200px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-style: normal;
}
body #login_container form input[type=submit] {
  margin: 50px 0 20px 0;
  padding: 10px 0;
  background-color: #8acd6dff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s ease background-color, 0.2s ease color;
}
body #login_container form input[type=submit]:hover {
  background-color: #5aa739ff;
  color: white;
  cursor: pointer;
}
body #login_container form #forgotPass {
  font-size: 13px;
  margin: 3px;
}
body #login_container form label {
  padding: 10px 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f4ff;
  box-shadow: 0 0 10px black;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
#header a.home {
  background-image: url("/assets/img/jam_jar_coloured.svg");
  background-repeat: no-repeat;
  background-position-x: -70px;
  display: inline-block;
  background-size: 400px 90px;
  width: 80px;
  height: 100px;
  margin-left: 50px;
  transition: 0.5s ease width;
}
#header a.home:hover {
  width: 200px;
}
#header #menu {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}
#header #menu li {
  float: left;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s ease background-color;
}
#header #menu li:hover {
  background-color: rgba(255, 209, 71, 0.8);
}
#header #menu span {
  height: 30px;
  width: 1px;
  background-color: #14110fff;
}
#header #menu a {
  text-decoration: none;
  color: inherit;
}
#header + * {
  margin-top: 105px;
}

#createUser {
  background-color: #f3f3f4ff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
#createUser #groupNames {
  display: flex;
  flex-direction: row;
}
#createUser #groupNames .name {
  display: flex;
  flex-direction: column;
}
#createUser #groupNames .first {
  margin-right: 10px;
}
#createUser #groupNames input {
  width: 150px;
}
#createUser input[type=text],
#createUser input[type=password] {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin-top: 20px;
  border-color: #8f8f8f;
  color: #34312dff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-style: normal;
}
#createUser input[type=submit] {
  margin: 20px 0 10px 0;
  padding: 10px 0;
  background-color: #8acd6dff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s ease background-color, 0.2s ease color;
}
#createUser label[for=pass] {
  color: #7e7f83ff;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#createUser h3 {
  font-weight: 400;
  margin-left: 10px;
}
#createUser input[type=submit]:hover {
  background-color: #5aa739ff;
  color: white;
  cursor: pointer;
}

#viewUser {
  background-color: #f3f3f4ff;
  display: flex;
  width: 500px;
  flex-direction: column;
  color: #7e7f83ff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  padding: 20px;
}
#viewUser h2 {
  text-align: center;
  margin: 10px 0;
  color: #34312dff;
}
#viewUser .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 1px;
  margin: 10px 20px;
}
#viewUser .container .detail {
  font-weight: normal;
}
#viewUser .container h3 {
  font-weight: 600;
}

#newassignment {
  width: 700px;
  background-color: aqua;
}
#newassignment div#details {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f4ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #7e7f83ff;
  margin-bottom: 35px;
}
#newassignment div#details label {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#newassignment div#details input[type=text],
#newassignment div#details select {
  width: 200px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
}
#newassignment div.task {
  background-color: #f3f3f4ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #7e7f83ff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#newassignment div.task .taskHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#newassignment div.task .test,
#newassignment div.task .instr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d9c5b2ff;
  border-radius: 10px;
  margin-bottom: 15px;
}
#newassignment div.task .test ul,
#newassignment div.task .instr ul {
  align-self: stretch;
  list-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0;
  width: 50px;
  background-color: #4b7ce6;
  color: white;
  text-align: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
#newassignment div.task .test ul li,
#newassignment div.task .instr ul li {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
#newassignment div.task .test ul li:first-of-type,
#newassignment div.task .instr ul li:first-of-type {
  border-top: 0px;
}
#newassignment div.task .test ul li:last-of-type,
#newassignment div.task .instr ul li:last-of-type {
  border-bottom: 0px;
}
#newassignment div.task .test a,
#newassignment div.task .instr a {
  height: 35px;
  width: 35px;
  background-color: #fe6448ff;
  border-radius: 5px;
  margin: 5px 15px;
  transition: 0.3s ease background-color;
}
#newassignment div.task .test a:hover,
#newassignment div.task .instr a:hover {
  background-color: #f42601ff;
}
#newassignment div.task .test .testCenter,
#newassignment div.task .instr .testCenter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 535px;
  justify-content: space-between;
}
#newassignment div.task .test .testCenter .case,
#newassignment div.task .instr .testCenter .case {
  flex-grow: 2;
}
#newassignment div.task .test .testCenter .margin,
#newassignment div.task .instr .testCenter .margin {
  margin: 0 10px;
}
#newassignment div.task .test .testCenter .outer,
#newassignment div.task .instr .testCenter .outer {
  width: 250px;
  margin-bottom: 10px;
}
#newassignment div.task .test .testCenter .small,
#newassignment div.task .instr .testCenter .small {
  width: 100px;
}
#newassignment div.task .test .testCenter .lower,
#newassignment div.task .instr .testCenter .lower {
  width: 240px;
}
#newassignment div.task .test .testCenter .mark,
#newassignment div.task .instr .testCenter .mark {
  width: 50px;
}
#newassignment div.task .test input[type=text],
#newassignment div.task .instr input[type=text] {
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */
