@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  margin: 1em 0;
  border: none;
  background: #fe6448;
  background: linear-gradient(90deg, rgba(254, 100, 72, 0) 0%, #fe6448 20%, #fe6448 40%, #ffd147 70%, rgba(255, 209, 71, 0) 100%);
  height: 1px;
  opacity: 0.75;
  margin-left: attr(offset px, 0px);
}
hr.flip {
  transform: rotate(180deg);
}

vr {
  border: none;
  background: #fe6448;
  background: linear-gradient(180deg, rgba(254, 100, 72, 0) 0%, #fe6448 20%, #fe6448 40%, #ffd147 70%, rgba(255, 209, 71, 0) 100%);
  width: 1px;
  opacity: 0.75;
  margin-top: attr(offset px, 0px);
}
vr.flip {
  transform: rotate(180deg);
}

body {
  background-color: white;
  color: #14110fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/splash.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}
body #login_container {
  margin-top: calc(50vh - 159px);
  background-color: #f3f3f4ff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 20px;
  border: 1px solid #7e7f83ff;
  box-shadow: 0 5px 10px #7e7f83ff;
  border-radius: 5px;
}
body #login_container h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  color: #34312dff;
}
body #login_container form {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
body #login_container form input[type=text],
body #login_container form input[type=password] {
  width: 225px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-style: normal;
}
body #login_container form input[type=submit]:hover:not(:disabled) {
  background-color: #5aa739ff;
  color: white;
  cursor: pointer;
}
body #login_container form .error {
  font-size: 13px;
  margin: 0 6px;
  color: red;
  height: 15px;
}
body #login_container form label {
  padding: 10px 0;
}

.block, #viewTeach #head, #copyReport .content, .reportAssHead .task, .indCourse, #viewCourse div#head, #submitAss #inputBox, #viewAss div#head, #newassignment div#details, #error {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f4ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #7e7f83ff;
  margin-bottom: 35px;
}

.wrap, #viewTeach, #copyReport, .reportAssHead, #viewCourse, #submitAss, #viewAss, #newassignment, #error {
  width: 70%;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 50px;
  max-width: 1020px;
}

#error {
  flex-direction: column;
}
#error .preWrap {
  background: #c4c4c4ff;
  border-radius: 0.5em;
  box-shadow: inset -5px 0 20px -5px #7e7f83ff;
  padding-bottom: 0.6em;
}
#error .preWrap pre {
  overflow-x: scroll;
  padding: 1em;
  padding-bottom: 0.5em;
  color: #7e7f83ff;
}
#error .preWrap pre::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
#error .preWrap pre::-webkit-scrollbar-thumb {
  background-color: #888890ff;
  border-radius: 10em;
  margin: 2em;
}
#error .preWrap pre::-webkit-scrollbar-thumb:hover {
  background-color: #7e7f83ff;
}
#error .preWrap pre::-webkit-scrollbar-button {
  background: transparent;
  width: 1em;
}
#error .preWrap pre span.highlight {
  color: #14110fff;
}

#notifier-tray {
  overflow: visible;
  right: 25px;
  top: 100px;
  position: fixed;
  width: 300px;
  height: fit-content;
}
#notifier-tray .notification {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.3em;
  display: block;
  height: fit-content;
  background: #4b7ce6ff;
  z-index: 20;
  left: calc(100% + 25px);
  transition: left 0.25s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  padding: 0.4em 0em;
  position: relative;
  margin-bottom: 1em;
}
#notifier-tray .notification.info {
  background: #4b7ce6ff;
}
#notifier-tray .notification.success {
  background: #8acd6dff;
}
#notifier-tray .notification.warning {
  background: #ffd147ff;
}
#notifier-tray .notification.error {
  background: #fe6448ff;
}
#notifier-tray .notification.show {
  left: 0;
  transition-timing-function: cubic-bezier(0.75, 1.48, 0.68, 0.96);
}
#notifier-tray .notification.show .timer {
  animation: timer 5s linear;
}
@keyframes timer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#notifier-tray .notification .content {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
}
#notifier-tray .notification .content p {
  padding-left: 0.2em;
}
#notifier-tray .notification .content .del {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  box-shadow: none;
}
#notifier-tray .notification .content .del:hover img {
  filter: brightness(0.65);
}
#notifier-tray .notification .timer {
  bottom: 0%;
  height: 7px;
  position: absolute;
  width: 0%;
  background: #ffffff80;
}

#tooltip {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px #7e7f83ff;
  display: none;
  pointer-events: none;
  transform: translate(-50%, calc(-100% - 10px));
  background: #f3f3f4ff;
  border: 2px solid #c4c4c4ff;
  padding: 0.5em;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 9999999;
}
#tooltip.show {
  display: block;
}
#tooltip .message {
  white-space: pre-line;
}
#tooltip .arrow {
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid #c4c4c4ff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translateX(-50%);
}
#tooltip hr {
  margin: 0.3em;
}

button,
input[type=button],
input[type=submit] {
  margin: 20px 0 10px 0;
  padding: 15px 20px;
  width: 250px;
  background-color: #8acd6dff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s ease;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 5px 10px #7e7f83ff;
}
button.blue,
input[type=button].blue,
input[type=submit].blue {
  background-color: #4b7ce6ff;
}
button.blue:hover,
input[type=button].blue:hover,
input[type=submit].blue:hover {
  background-color: #3559a7ff !important;
}
button.grey,
input[type=button].grey,
input[type=submit].grey {
  background-color: #c4c4c4ff;
}
button.grey:hover,
input[type=button].grey:hover,
input[type=submit].grey:hover {
  background-color: #888890ff !important;
}
button.yellow,
input[type=button].yellow,
input[type=submit].yellow {
  background-color: #ffd147ff;
}
button.yellow:hover,
input[type=button].yellow:hover,
input[type=submit].yellow:hover {
  background-color: #fabb00ff !important;
}
button.red,
input[type=button].red,
input[type=submit].red {
  background-color: #fe6448ff;
}
button.red:hover,
input[type=button].red:hover,
input[type=submit].red:hover {
  background-color: #f42601ff !important;
}
button.strong,
input[type=button].strong,
input[type=submit].strong {
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
}
button:hover:not(:disabled),
input[type=button]:hover:not(:disabled),
input[type=submit]:hover:not(:disabled) {
  background-color: #5aa739ff;
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  box-shadow: 0 5px 5px #7e7f83ff;
}
button:active,
input[type=button]:active,
input[type=submit]:active {
  box-shadow: 0 0px 5px #7e7f83ff;
}
button.del,
input[type=button].del,
input[type=submit].del {
  height: 30px;
  width: 30px;
  margin: 15px;
  background-color: #fe6448ff;
  padding: revert;
  box-shadow: 0 2px 5px #34312dff;
}
button.del img,
input[type=button].del img,
input[type=submit].del img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease filter;
}
button.del:hover,
input[type=button].del:hover,
input[type=submit].del:hover {
  background-color: #f42601ff;
}
button.del:hover img,
input[type=button].del:hover img,
input[type=submit].del:hover img {
  filter: brightness(2);
}
button.del:active,
input[type=button].del:active,
input[type=submit].del:active {
  box-shadow: 0 0 5px #34312dff;
}
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
  background-color: #7e7f83ff !important;
  cursor: unset !important;
}

.animate-delete {
  opacity: 0;
  padding: 0;
  height: 0;
  width: 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f4ff;
  box-shadow: 0 0 10px black;
  height: 75px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
#header a.home {
  background-image: url("/assets/img/jam_jar_coloured.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 250px 90px;
  width: 80px;
  height: 100px;
  margin-left: 50px;
  transition: 0.5s ease width;
}
#header a.home:hover {
  width: 220px;
}
#header #menu {
  position: relative;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
}
#header #menu li {
  float: left;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px;
  min-width: 120px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s ease background-color;
  text-align: center;
}
#header #menu li:hover {
  background-color: rgba(255, 209, 71, 0.8);
}
#header #menu #dropHover:hover + #liAss {
  visibility: visible;
  transition-delay: 0s;
}
#header #menu #liAss {
  position: absolute;
  z-index: -1;
  right: 160px;
  top: 75px;
  list-style: none;
  max-width: 160px;
  visibility: hidden;
  background-color: #f3f3f4ff;
  padding: 0;
  box-shadow: 0 5px 10px black;
  padding-bottom: 10px;
  transition: all ease 0.5s;
  transition-delay: 0.5s;
}
#header #menu #liAss li {
  margin: 0 10px;
  padding: 10px;
  min-width: 120px;
  float: initial;
}
#header #menu #liAss a {
  border: none;
  margin-top: 10px;
}
#header #menu #liAss:hover {
  visibility: visible;
}
#header #menu a {
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #14110fff;
  display: inline-block;
}
#header + * {
  margin-top: 105px;
}

div.table {
  padding: 0;
  border-radius: 10px 10px 5px 5px;
  background-color: #f3f3f4ff;
  box-shadow: 0 5px 10px #7e7f83ff;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  overflow: overlay;
  max-height: 80vh;
  margin-bottom: 0;
}
div.table::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  z-index: 60;
}
div.table::-webkit-scrollbar-thumb {
  background-color: #888890ff;
  border-radius: 10em;
  width: 4px;
  height: 4px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
div.table::-webkit-scrollbar-thumb:hover {
  background-color: #7e7f83ff;
}
div.table::-webkit-scrollbar-corner {
  opacity: 0;
}
div.table span {
  display: flex;
  justify-content: flex-start;
}
div.table p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}
div.table .tHead {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 0 10px #7e7f83ff;
}
div.table .tHead p {
  background-color: #4b7ce6ff;
  color: white;
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
div.table .tHead p:not(:last-child) {
  border-right: 1px solid #f3f3f4ff;
}
div.table .bRow {
  text-align: center;
  display: block;
  padding: 20px;
  width: 100%;
}
div.table .tRow {
  z-index: 40;
  position: relative;
  width: 100%;
}
div.table .tRow:nth-child(even) {
  background-color: #f3f3f4ff;
}
div.table .tRow:nth-child(odd) {
  background-color: #c4c4c4ff;
}
div.table .tRow.hidden {
  display: none !important;
}
div.table .tRow:not(.hidden) ~ .bRow {
  display: none !important;
}
div.table .tRow p {
  text-align: center;
}
div.table .tRow p:not(:last-child) {
  border-right: 1px solid #7e7f83ff;
}
div.table button {
  width: 100%;
}

.resultCell {
  display: inline-flex !important;
  width: 15px !important;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  max-width: 40px !important;
  max-height: 40px !important;
  padding: 10px !important;
  overflow: hidden;
  white-space: nowrap;
}
.resultCell.loading::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/items/flask_yellow.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  animation: shake_bottle 4s cubic-bezier(0, 1, 0.5, 1) infinite;
}
.resultCell.pass {
  background: rgba(138, 205, 109, 0.7) !important;
}
.resultCell.fail {
  background: rgba(254, 100, 72, 0.7) !important;
}

.resultCell.error,
.frontCell.error {
  background: rgba(255, 209, 71, 0.7) !important;
}

@keyframes shake_bottle {
  0%, 3%, 6%, 9%, 12%, 15%, 100% {
    transform: rotate(0deg);
  }
  1.5%, 7.5%, 13.5% {
    transform: rotate(7.5deg);
  }
  4.5%, 10.5% {
    transform: rotate(-7.5deg);
  }
}
#createUser,
#viewUser {
  width: 400px;
  background-color: #f3f3f4ff;
  display: flex;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7e7f83ff;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
#createUser > *,
#viewUser > * {
  flex-grow: 1;
}
#createUser #groupNames,
#viewUser #groupNames {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#createUser #groupNames .name,
#viewUser #groupNames .name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#createUser input[type=text],
#createUser input[type=password],
#viewUser input[type=text],
#viewUser input[type=password] {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin-top: 20px;
  border-color: #8f8f8f;
  color: #34312dff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-style: normal;
}
#createUser input[type=submit],
#viewUser input[type=submit] {
  align-self: center;
}
#createUser label[for=pass],
#viewUser label[for=pass] {
  color: #7e7f83ff;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#createUser h3,
#viewUser h3 {
  font-weight: 400;
  margin-left: 10px;
}

#viewUser h2 {
  text-align: center;
  margin: 10px 0;
  color: #34312dff;
}
#viewUser .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}
#viewUser .wrapper:last-of-type {
  margin-bottom: 0;
}
#viewUser .wrapper h3 {
  font-weight: 600;
  margin: 0;
}
#viewUser .wrapper h3.detail {
  font-weight: normal;
}
#viewUser form {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
#viewUser form > * {
  padding: 10px;
  box-sizing: content-box;
  flex: 1 1 0%;
  height: 1.3em;
  margin: 0 !important;
}
#viewUser .blue {
  width: 100%;
}

#newassignment div#details {
  gap: 2em;
}
#newassignment div#details > span {
  flex: 1 1 0px;
}
#newassignment div#details label {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
}
#newassignment div#details input[type=text],
#newassignment div#details select {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  box-sizing: border-box;
  width: 100%;
}
#newassignment div.task {
  background-color: #f3f3f4ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #7e7f83ff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#newassignment div.task .taskHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#newassignment div.task .test,
#newassignment div.task .instr {
  display: flex;
  order: attr(data-order);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d9c5b2ff;
  border-radius: 10px;
  margin-bottom: 15px;
}
#newassignment div.task .test .editor,
#newassignment div.task .instr .editor {
  white-space: pre;
  flex-grow: 1;
  align-self: stretch;
  margin: 10px 0;
  min-height: 30px;
}
#newassignment div.task .test ul,
#newassignment div.task .instr ul {
  align-self: stretch;
  list-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0;
  width: 50px;
  background-color: #4b7ce6ff;
  color: white;
  text-align: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
#newassignment div.task .test ul li,
#newassignment div.task .instr ul li {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #efefef;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease background-color;
}
#newassignment div.task .test ul li:first-of-type,
#newassignment div.task .instr ul li:first-of-type {
  border-top: 0px;
}
#newassignment div.task .test ul li:last-of-type,
#newassignment div.task .instr ul li:last-of-type {
  border-bottom: 0px;
}
#newassignment div.task .test ul .testID,
#newassignment div.task .instr ul .testID {
  flex-grow: 0;
  padding: 10px 0;
}
#newassignment div.task .test ul .moveUp,
#newassignment div.task .instr ul .moveUp {
  padding-top: 10px;
  border-top-left-radius: 10px;
  padding: 5px 0;
}
#newassignment div.task .test ul .moveDown,
#newassignment div.task .instr ul .moveDown {
  border-bottom-left-radius: 10px;
  padding-bottom: 10px;
  padding: 5px 0;
}
#newassignment div.task .test ul .moveButton,
#newassignment div.task .instr ul .moveButton {
  cursor: pointer;
  transition: 0.3s ease background-color;
}
#newassignment div.task .test ul .moveButton img,
#newassignment div.task .instr ul .moveButton img {
  width: 20px;
  transition: 0.3s ease filter;
}
#newassignment div.task .test ul .moveButton:hover,
#newassignment div.task .instr ul .moveButton:hover {
  background-color: #3559a7ff;
}
#newassignment div.task .test ul .moveButton:hover img,
#newassignment div.task .instr ul .moveButton:hover img {
  filter: brightness(2);
}
#newassignment div.task .test .testCenter, #newassignment div.task .test .excCenter,
#newassignment div.task .instr .testCenter,
#newassignment div.task .instr .excCenter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 2;
  margin-bottom: 15px;
}
#newassignment div.task .test .testCenter .case, #newassignment div.task .test .excCenter .case,
#newassignment div.task .instr .testCenter .case,
#newassignment div.task .instr .excCenter .case {
  flex-grow: 2;
}
#newassignment div.task .test .testCenter .testDeets, #newassignment div.task .test .excCenter .testDeets,
#newassignment div.task .instr .testCenter .testDeets,
#newassignment div.task .instr .excCenter .testDeets {
  display: flex;
}
#newassignment div.task .test .testCenter .testDeets .small, #newassignment div.task .test .excCenter .testDeets .small,
#newassignment div.task .instr .testCenter .testDeets .small,
#newassignment div.task .instr .excCenter .testDeets .small {
  margin-right: 15px;
}
#newassignment div.task .test .testCenter .testDeets .num, #newassignment div.task .test .excCenter .testDeets .num,
#newassignment div.task .instr .testCenter .testDeets .num,
#newassignment div.task .instr .excCenter .testDeets .num {
  max-width: 60px;
}
#newassignment div.task .test .testCenter .testDeets .out, #newassignment div.task .test .excCenter .testDeets .out,
#newassignment div.task .instr .testCenter .testDeets .out,
#newassignment div.task .instr .excCenter .testDeets .out {
  max-width: 120px;
}
#newassignment div.task .test .testCenter .testDeets .desc, #newassignment div.task .test .excCenter .testDeets .desc,
#newassignment div.task .instr .testCenter .testDeets .desc,
#newassignment div.task .instr .excCenter .testDeets .desc {
  flex-grow: 1;
}
#newassignment div.task .test input[type=text],
#newassignment div.task .test input[type=number],
#newassignment div.task .instr input[type=text],
#newassignment div.task .instr input[type=number] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  font-style: normal;
  width: auto;
}
#newassignment div.task #taskFoot {
  order: 9999999999;
  display: flex;
  justify-content: center;
  gap: 50px;
}
#newassignment div.task #taskFoot input[type=button] {
  padding: 10px 20px;
  width: 180px;
  background-color: #c4c4c4ff;
  text-transform: initial;
}
#newassignment div.task #taskFoot input[type=button]:hover:not(:disabled) {
  background-color: #888890ff;
  color: white;
  font-weight: 400;
}
#newassignment #assignmentFooter {
  display: flex;
  justify-content: space-around;
}

#adminContainer {
  display: flex;
}
#adminContainer .column .tile {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #f3f3f4ff;
  box-shadow: 5px 5px 10px #7e7f83ff;
  border-radius: 10px;
  margin: 50px;
  flex-flow: column;
  transform: scale(1);
  transition: 0.3s ease transform;
}
#adminContainer .column .tile h2 {
  margin: 0px 1px;
}
#adminContainer .column .tile:hover:not(:disabled) {
  color: initial;
  transform: scale(1.1);
}
#adminContainer .separator {
  width: 1px;
  background-color: #7e7f83ff;
  margin: 25px 0;
}

#viewAss {
  display: flex;
  flex-flow: column;
}
#viewAss #subAssignment {
  align-self: center;
}
#viewAss div#head {
  gap: 2em;
}
#viewAss div#head > span {
  flex: 1 1 0px;
}
#viewAss div#head label {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
}
#viewAss div#head select {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  box-sizing: border-box;
  width: 250px;
}
#viewAss div#head h1 {
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
}
#viewAss div.table .name {
  width: 40%;
}
#viewAss div.table .course {
  width: 20%;
}
#viewAss div.table .year {
  width: 10%;
}
#viewAss div.table .marked {
  width: 30%;
  display: flex;
  flex-flow: column;
  gap: 1em;
}
#viewAss div.table .marked button {
  width: 100%;
  margin: 0;
}

#submitAss .details .course {
  font-weight: normal;
}
#submitAss .metaAss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
#submitAss .metaAss .content {
  flex-grow: 1;
  margin: 0;
  margin-right: 15px;
}
#submitAss .metaAss button {
  padding: 10px 20px;
  width: 150px;
  margin-left: 20px;
}
#submitAss #inputBox {
  flex-flow: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  outline: dashed 2px #7e7f83ff;
  outline-offset: -10px;
  transition: 0.3s ease outline-offset, 0.3s ease background-color;
  font-size: 20px;
  color: #888890ff;
  padding: 3em;
}
#submitAss #inputBox .inputFile {
  display: none;
}
#submitAss #inputBox .upload-icon {
  color: #7e7f83ff !important;
  opacity: 0.3;
  margin-bottom: 2rem;
}
#submitAss #inputBox label[for=file] {
  cursor: pointer;
  display: inline-block;
}
#submitAss #inputBox label[for=file] strong {
  transition: 0.3s ease color;
}
#submitAss #inputBox label[for=file]:hover strong {
  color: #4b7ce6ff;
}
#submitAss #inputBox label[for=file] .dropText {
  display: none;
}
#submitAss #inputBox.disabled * {
  display: none !important;
}
#submitAss #inputBox.disabled .status {
  display: block !important;
}
#submitAss .dragEnabled:not(.disabled) .dropText {
  display: inline !important;
}
#submitAss .file-over {
  outline-offset: -20px !important;
  background-color: #c4c4c4ff !important;
}
#submitAss div.table .tRow {
  width: min-content;
}
#submitAss div.table p {
  min-width: 20px;
  width: 20px;
  max-width: 20px;
  height: 20px;
  border-right: 1px solid #7e7f83ff;
}
#submitAss div.table p.frontCell {
  min-width: 65px;
  width: 65px;
  max-width: 65px;
  position: sticky;
  left: 0;
  box-shadow: 0 0 10px #7e7f83ff;
  clip-path: inset(0px -10px 0px 0px);
  z-index: 40;
}
#submitAss .markedInput {
  height: 100px;
  padding: 0 !important;
}
#submitAss .markedInput i {
  display: none;
}
#submitAss #inputBox + .table {
  display: none;
}
#submitAss .markedInput + .table {
  display: flex !important;
}

#viewCourse {
  display: flex;
  flex-flow: column;
  max-height: 750px;
}
#viewCourse div#head {
  gap: 2em;
}
#viewCourse div#head > span {
  flex: 1 1 0px;
}
#viewCourse div#head label {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
}
#viewCourse div#head select {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  box-sizing: border-box;
  width: 250px;
}
#viewCourse div#head h1 {
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
}
#viewCourse div.table .id {
  width: 10%;
}
#viewCourse div.table .name {
  width: 40%;
}
#viewCourse div.table .year {
  width: 20%;
}
#viewCourse div.table .opt {
  width: 20%;
}
#viewCourse div.table .btns {
  flex-direction: column;
  height: 130px;
}
#viewCourse div.table .btns button {
  width: 100%;
  margin: 10px;
}

#createCourse {
  width: 400px;
  background-color: #f3f3f4ff;
  display: flex;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7e7f83ff;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
#createCourse > * {
  flex-grow: 1;
}
#createCourse input[type=text] {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin-top: 20px;
  border-color: #8f8f8f;
  color: #34312dff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-style: normal;
}
#createCourse input[type=submit] {
  align-self: center;
}
#createCourse label[for=pass] {
  color: #7e7f83ff;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#createCourse h3 {
  font-weight: 400;
  margin-left: 10px;
}

#indCourse {
  width: 400px;
  background-color: #f3f3f4ff;
  display: flex;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #34312dff;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
#indCourse h2 {
  text-align: center;
  margin: 10px 0;
  color: black;
}
#indCourse .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}
#indCourse .wrapper:last-of-type {
  margin-bottom: 0;
}
#indCourse .wrapper h3 {
  font-weight: 600;
  margin: 0;
}
#indCourse .wrapper h3.detail {
  font-weight: normal;
}
#indCourse .buttons {
  justify-content: space-around;
  gap: 50px;
}

.reportAssHead .resultTotals {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100px;
}
.reportAssHead .resultTotals h1 {
  margin: 0;
}
.reportAssHead .resultTotals button {
  margin: 0;
}
.reportAssHead .task {
  flex-direction: column;
}
.reportAssHead .task hr {
  margin: 10px 0;
}
.reportAssHead .task .wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: #34312dff;
}
.reportAssHead .task .wrapper .title {
  font-weight: bold;
}
.reportAssHead .task h1 {
  font-weight: bold;
}
.reportAssHead .task h3 {
  margin: 5px 0;
}
.reportAssHead .task .test {
  margin: 20px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #7e7f83ff;
  overflow: hidden;
  transition: all 1s ease;
  max-height: 45px;
  color: #f3f3f4ff;
  letter-spacing: 1px;
}
.reportAssHead .task .test.max {
  max-height: 400px;
  background-color: #c4c4c4ff;
  color: #34312dff;
}
.reportAssHead .task .test img {
  width: 35px;
  margin-right: 10px;
  cursor: pointer;
}
.reportAssHead .task .test .testTop {
  display: flex;
  justify-content: space-between;
}
.reportAssHead .task .test .testDetail {
  background-color: #e6e6e6;
  padding: 10px 0;
  margin: 10px 0;
}
.reportAssHead .task .test .testDetail div {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

#copyReport .buttonBanner {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
#copyReport .content {
  flex-direction: column;
  padding: 50px;
}
#copyReport .content span {
  display: flex;
}
#copyReport .content span p:first-of-type {
  width: 200px;
  font-weight: bold;
  text-transform: uppercase;
}
#copyReport .content .contentHead {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#copyReport .content .task {
  margin-top: 50px;
}
#copyReport .content .task span {
  justify-content: space-between;
}
#copyReport .content .task .test {
  margin-top: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}
#copyReport .content .task .test p:first-of-type {
  min-width: 100px;
}
#copyReport .content .task .test .desc {
  flex-grow: 1;
  margin-right: 20px;
}

#viewTeach {
  display: flex;
  flex-flow: column;
}
#viewTeach #head {
  gap: 2em;
}
#viewTeach #head > span {
  flex: 1 1 0px;
}
#viewTeach #head label {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
}
#viewTeach #head select {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  margin: 5px 0;
  border-color: #8f8f8f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  box-sizing: border-box;
  width: 250px;
}
#viewTeach #head h1 {
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
}
#viewTeach .table .zID {
  width: 10%;
}
#viewTeach .table .fName {
  width: 25%;
}
#viewTeach .table .lName {
  width: 25%;
}
#viewTeach .table .opts, #viewTeach .table .buttons {
  width: 30%;
}
#viewTeach .table .buttons {
  flex-direction: column;
}

#editTeach {
  width: 400px;
  background-color: #f3f3f4ff;
  display: flex;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7e7f83ff;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 5px 10px black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
#editTeach h2 {
  text-align: center;
  margin: 10px 0;
  color: #34312dff;
}
#editTeach h3 {
  font-weight: 400;
  margin-left: 10px;
}
#editTeach form {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
#editTeach form > * {
  padding: 10px;
  box-sizing: content-box;
  flex: 1 1 0%;
  height: 1.3em;
  margin: 0 !important;
}
#editTeach .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}
#editTeach .wrapper:last-of-type {
  margin-bottom: 0;
}
#editTeach .wrapper h3 {
  font-weight: 600;
  margin: 0;
}
#editTeach .wrapper h3.detail {
  font-weight: normal;
}
#editTeach > * {
  flex-grow: 1;
}
#editTeach #groupNames {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#editTeach #groupNames .name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#editTeach input[type=text],
#editTeach input[type=password] {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e7f83ff;
  border-color: #8f8f8f;
  color: #34312dff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-style: normal;
}
#editTeach input[type=password] {
  margin-bottom: 10px;
}
#editTeach .detail {
  text-align: right;
}
#editTeach input[type=submit] {
  align-self: center;
}
#editTeach label[for=pass] {
  color: #7e7f83ff;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#editTeach .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
/*# sourceMappingURL=style.css.map */
